@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s, color 0.3s;
}


  
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --bg-gradient: linear-gradient(to bottom right, #eff6ff, #e0e7ff, #ede9fe);
}

html.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --bg-gradient: linear-gradient(to bottom right, #111827, rgba(30, 58, 138, 0.2), rgba(88, 28, 135, 0.2));
}

body {
  background: var(--bg-gradient);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .custom-bg {
    @apply bg-gradient-to-t from-[#e2e8f0] to-[#e2e2ff] dark:from-[#111827] dark:to-[#161635] bg-opacity-50 border-[0.5px] border-black border-opacity-10 rounded-2xl;
  }
  .custom-bg-nav {
    @apply bg-gradient-to-t from-[#e2e8f0] to-[#e2e2ff] dark:from-[#111827] dark:to-[#161635];
  }
  
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
